<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nexoria</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='public/assets/logo.png') }}" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='public/assets/logo.png') }}">
  </head>
  <body>
    <header class="topbar">
      <a href="/" class="brand">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/2484/2484936.png" alt="Nexoria logo">

        <h1>Nexoria</h1>
      </a>
      <div class="account">
        <div class="coins"><span id="coins"><img class="currency-icon coin" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cd9b85bb-f709-41fb-8666-da35e37527e0/ddj39zb-3b4362e1-1f54-4aae-95ba-50fb7f6127d5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9jZDliODViYi1mNzA5LTQxZmItODY2Ni1kYTM1ZTM3NTI3ZTAvZGRqMzl6Yi0zYjQzNjJlMS0xZjU0LTRhYWUtOTViYS01MGZiN2Y2MTI3ZDUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sBkYEkdbznOgmxGjN0Tkt1EebgRfRIJlHCUoNp_gvb0" alt="coin">{{ coins }}</span></div>
        <div class="tickets"><span id="tickets"><img class="currency-icon ticket" src="https://static.vecteezy.com/system/resources/previews/012/627/830/non_2x/3d-cinema-ticket-realistic-trendy-design-concept-of-traveling-booking-service-movie-or-shopping-sale-coupon-high-quality-isolated-3d-render-png.png" alt="ticket">{{ tickets }}</span></div>
      </div>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <script src="/static/app.js"></script>
  </body>
</html>
