{% extends 'base.html' %}
{% block content %}
  <h2>Gacha</h2>
  <div class="gacha-panel">
    <div class="gacha-hero">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5847f24a-889d-4f1d-971c-da2bafcfc71c/dfwrftm-18a738cf-4099-43e3-8914-7a49de0d2e3c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi81ODQ3ZjI0YS04ODlkLTRmMWQtOTcxYy1kYTJiYWZjZmM3MWMvZGZ3cmZ0bS0xOGE3MzhjZi00MDk5LTQzZTMtODkxNC03YTQ5ZGUwZDJlM2MucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-txlQ3waZgPc4ZwRuh94ECtq_4gjYpc72bQGLf2jB3M">
      <div class="gacha-invite">Coba peruntunganmu dan dapatkan kartu langka!</div>
    </div>
    <div class="gacha-controls center">
      <button id="pull10" class="gacha-pull"><span class="price"><img class="currency-icon coin" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cd9b85bb-f709-41fb-8666-da35e37527e0/ddj39zb-3b4362e1-1f54-4aae-95ba-50fb7f6127d5.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9jZDliODViYi1mNzA5LTQxZmItODY2Ni1kYTM1ZTM3NTI3ZTAvZGRqMzl6Yi0zYjQzNjJlMS0xZjU0LTRhYWUtOTViYS01MGZiN2Y2MTI3ZDUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sBkYEkdbznOgmxGjN0Tkt1EebgRfRIJlHCUoNp_gvb0" alt="coin"><span class="price-amount">1000</span></span></button>
    </div>
    <div id="resultArea" class="result-area gacha-results"></div>
  </div>
{% endblock %}
