{% extends 'base.html' %}
{% block content %}
  <section class="lobby">
    <h1>Selamat datang di NEXORIA </h1>
    <div class="lobby-hero">
      <img src="{{ url_for('static', filename='public/assets/pngaaa.com-26250111.png') }}" alt="Rem" class="lobby-image">
    </div>
    <h2>Tarik kartu dan kumpulkan para Legenda!</h2>
    <div class="menu lobby-menu">
      <a class="menu-card" href="/gacha">Gacha</a>
      <a class="menu-card" href="/deck">Deck</a>
      <a class="menu-card" href="/shop">Shop</a>
      <button class="menu-card" id="resetLobby">Reset</button>
    </div>
  </section>
{% endblock %}
